/* RGBA -> Red Green Blue Alpha

Alpha channel = value of 0% is fully transparent, a value of 100% is fully opaque 

rgba(0,0,0,1); -> black
rgba(123,123,123,1); -> grey
rgba(203,203,203,1); -> light grey
rgba(255,255,255,1); -> white

rgba(255,0,0,1); -> red
rgba(0,255,0,1); -> green
rgba(0,0,255,1); -> blue

*/

body {
	font:400 12px/18px arial, sans-serif;
	color:rgb(0,0,0);
}

#container {
	background: #23538a; /* Old browsers */
	background: -moz-linear-gradient(top, #23538a 0%, #a7cfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23538a), color-stop(100%,#a7cfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #23538a 0%,#a7cfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #23538a 0%,#a7cfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #23538a 0%,#a7cfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #23538a 0%,#a7cfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23538a', endColorstr='#a7cfdf',GradientType=0 ); /* IE6-9 */

	margin: 0 auto;
	width: 594px;
	height:476px;
	text-align: center;
	border:3px solid #000;
}

.picture {
	width: 574px;
	height:466px;
	padding:10px 10px 0;
	background-size:cover;
}
.index .picture {
	background:url(castle.png);
}
.roomOne .picture{
	background:url(castle-hall.jpg);
}
.roomTwo .picture {
	background:url(castle.png);
}

a {
	color:rgb(0,0,0);
	text-decoration:none;
}
a:hover {color:rgb(255,255,255);}

p {
	margin:0 0 5px;
	text-align:left;
}

.button {
	display:inline-block;
	background: #efc5ca; /* Old browsers */
	background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
	background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
	color:#fff;
	padding:5px 10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin: 5px;
	text-transform:uppercase;
	font-weight:bold;
	border:1px solid #BA2737;
	
}

div.slide {
	display:none;
	background:rgba(255,255,255,0.6);
	margin:0 0 5px;
	padding:10px 20px;
}

div.slide.active {
	display:block;
}

